[Unit]
Description=Service that runs to stop old labs
PartOf=twinbridge.service
ReloadPropagatedFrom=twinbridge.service
After=twinbridge.service

[Service]
Type=simple
WorkingDirectory=/etc/tbServer/bin
ExecStart=/usr/bin/python3 labCleaner.py
RestartSec=10s
Restart=on-failure
KillMode=process
[Install]
WantedBy=twinbridge.service 
